<tr class="editing" hx-trigger="cancel" hx-get="{% url 'business_detail' property.business.id %}">
	<td>{{property}}</td>
	<td>{{property.domain}}</td>
	<td>{{form.user}} {{form.role}}</td>
	<td>
		<button
			class="btn btn-sm btn-outline-danger"
			hx-get="{% url 'business_detail' property.business.id %}"
			hx-target="#main">
			<i class="bi bi-x-circle-fill"></i>
		</button>
		<button
			class="btn btn-sm btn-dark"
			hx-post="{% url 'staff_add' property.id %}"
			hx-target="#main"
			hx-include="closest tr"
			hx-swap="outerHTML">
			<i class="bi bi-check2-all"></i>
		</button>
	</td>
</tr>
