{% extends 'base.html' %}
<!--  -->
{% load crispy_forms_tags %} {% block content %}
<div class="container-xxl">
	<div class="authentication-wrapper authentication-basic container-p-y">
		<div class="authentication-inner">
			<!-- Register -->
			<div class="card">
				<div class="card-body">
					<!-- Logo -->
					<div class="app-brand justify-content-center">
						<a href="{% url 'home' %}" class="app-brand-link">
							<span class="app-brand-logo demo">
								<i class="bx bx-globe fs-1 fw-bolder"></i>
							</span>
							<span class="app-brand-text demo menu-text fw-bolder ms-2"
								>NUGsoft</span
							>
						</a>
					</div>
					<!-- /Logo -->
					<h4 class="mb-2">Welcome to NugSoft Analytics! 👋</h4>
					<p class="mb-4">Please sign-in to your account and start the adventure</p>

					<form id="formAuthentication" class="mb-3" action="" method="POST">
						{% csrf_token %} {{form|crispy}}
						<div class="mb-3">
							<button class="btn btn-primary d-grid w-100" type="submit">
								Sign in
							</button>
						</div>
					</form>

					<p class="text-center">
						<span>New on our platform?</span>
						<a href="{% url 'signup' %}">
							<span>Create an account</span>
						</a>
					</p>
				</div>
			</div>
			<!-- /Register -->
		</div>
	</div>
</div>

{% endblock %}
