{% extends 'accounts/base.html' %}
<!--  -->
{% load crispy_forms_tags %}
<!--  -->
{% block content %}

<div class="row">
	<div class="col"></div>
	<div class="col d-flex align-items-center justify-content-center" style="height: 100vh">
		<!-- Register -->
		<div class="card p-4">
			<div class="card-body">
				<!-- Logo -->

				<!-- /Logo -->
				<h4 class="mb-2">Welcome to NugSoft Analytics! 👋</h4>
				<p class="mb-4">Please sign-in to your account and start the adventure</p>

				<form class="mb-3" action="" method="POST">
					{% csrf_token %} {{form|crispy}}
					<div class="mb-3">
						<button class="btn btn-primary d-grid w-100" type="submit">Sign in</button>
					</div>
				</form>

				<p class="text-center">
					<span>New on our platform?</span>
					<a href="{% url 'signup' %}">
						<span>Create an account</span>
					</a>
				</p>
			</div>
		</div>
		<!-- /Register -->
	</div>
	<div class="col"></div>
</div>

{% endblock %}
