{% extends 'accounts/base.html' %}

<!--  -->
{% load crispy_forms_tags %}
<!--  -->
{% block content %}
<div class="container-xxl">
	<div class="authentication-wrapper authentication-basic container-p-y">
		<div class="authentication-inner">
			<!-- Register Card -->
			<div class="card">
				<div class="card-body">
					<!-- Logo -->
					<div class="app-brand justify-content-center">
						<a href="{% url 'home' %}" class="app-brand-link">
							<span class="app-brand-logo demo">
								<i class="bx bx-globe fs-1"></i>
							</span>
							<span class="app-brand-text demo menu-text fw-bolder ms-2"
								>NUGsoft</span
							>
						</a>
					</div>
					<!-- /Logo -->
					<h4 class="mb-2">Sign Up 🚀</h4>
					<p class="mb-4">Make your app management easy and fun!</p>

					<form id="formAuthentication" class="mb-3" action="" method="POST">
						{% csrf_token %} {{form|crispy}}

						<button class="btn btn-primary d-grid w-100">Sign up</button>
					</form>

					<p class="text-center">
						<span>Already have an account?</span>
						<a href="{% url 'login' %}">
							<span>Sign in instead</span>
						</a>
					</p>
				</div>
			</div>
			<!-- Register Card -->
		</div>
	</div>
</div>
{% endblock %}
