{% extends 'base.html' %}
<!--  -->
{% load static %}
<!--  -->
{% load crispy_forms_tags %}
<!--  -->
{% block content %}
<!--  -->

<div class="content-wrapper">
	<!-- Content -->

	<div class="container-xxl flex-grow-1 container-p-y">
		<!-- Hoverable Table rows -->
		<div class="card">
			<h5 class="card-header">Your Current Businesses</h5>
			<div class="card-body">
				<form action="" method="post">
					{% csrf_token %} {{form|crispy}}
					<button class="btn btn-primary" type="submit">Save</button>
					<button class="btn btn-secondary" type="reset">Reset</button>
				</form>
			</div>
		</div>
		<!--/ Hoverable Table rows -->
		<div class="my-5 d-flex justify-content-end">
			<a class="btn btn-secondary" href="{% url 'business_register' %}">Add New Business</a>
		</div>
	</div>
</div>

{% endblock %}
