{% extends 'base.html' %}
<!--  -->
{% load crispy_forms_tags %}
<!--  -->
{% block content %}
<!-- sidebar -->

<div class="content-wrapper">
	<!-- Content -->

	<div class="container-xxl flex-grow-1 container-p-y">
		<div class="col-xxl">
			<div class="card mb-4">
				<div class="card-header d-flex align-items-center justify-content-between">
					<h1 class="mb-0 fs-4">{{property.name}}</h1>
					<small class="text-muted float-end">Business: {{property.business}}</small>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-lg-6 mb-4 mb-xl-0">
							<small class="text-light fw-semibold">Staff</small>
							<div class="demo-inline-spacing mt-3">
								<ol class="list-group list-group-numbered">
									{% for staff in property.staff.all %}
									<li class="list-group-item">
										{{staff}} ({{staff.role}})
										<!--  -->
										{% if request.user == staff.user %}
										<!--  -->
										<span class="mx-3 text-success"
											><i class="bx bx-user-circle"></i
										></span>
										<!--  -->
										{% endif %}

										<!--  -->
										{% if request.user == property_creator or is_editor %}
										<a
											class="mx-3 btn btn-sm btn-outline-secondary btn-icon"
											href="{% url 'edit_staff' staff.id %}">
											<i class="bx bxs-edit"></i>
										</a>
										<a
											class="mx-3 btn btn-sm btn-outline-danger btn-icon"
											href="{% url 'remove_staff' staff.id %}"
											><i class="bx bx-trash"></i
										></a>

										{% endif %}
									</li>
									{% endfor %}
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--  -->
{% endblock %}
