{% extends 'base.html' %}
<!--  -->
{% load static %}
<!--  -->
{% block content %}
<!--  -->

<!-- Content wrapper -->
<div class="content-wrapper">
	<!-- Content -->

	<div class="container-xxl flex-grow-1 container-p-y">
		<!-- Hoverable Table rows -->
		<div class="card">
			<h5 class="card-header">Your Current Properties</h5>
			<div class="table-responsive text-nowrap">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Property</th>
							<th>Domain</th>
							<th>Business</th>
							<th>Staff</th>
						</tr>
					</thead>
					<tbody class="table-border-bottom-0">
						{% for property in properties %}
						<tr style="transform: rotate(0)">
							<td>
								<i class="fab fa-angular fa-lg text-danger me-3"></i>

								<a
									hx-get="{% url 'property_detail' property.id %}"
									hx-target="#main"
									hx-swap="innerHTML"
									hx-push-url="true"
									class="stretched-link"
									style="cursor: pointer">
									<strong> {{ property.name }}</strong>
								</a>
							</td>
							<td>{{ property.domain }}</td>
							<td>{{ property.business }}</td>
							<td>
								{% if property.staff.all %}
								<ul
									class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
									{% for staff in property.staff.all %}
									<li
										data-bs-toggle="tooltip"
										data-popup="tooltip-custom"
										data-bs-placement="top"
										class="avatar avatar-xs pull-up"
										title="{{staff}}">
										<img
											src="{% static '/assets/img/avatars/' %}{{images|random}}.png"
											alt="Avatar"
											class="rounded-circle" />
									</li>

									{% endfor %}
								</ul>
								{% else %}
								<!--  -->
								None
								<!--  -->
								{% endif %}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{% endblock %}
