{% extends 'base.html' %}
<!--  -->
{% load static %}
<!--  -->
{% block content %}
<!--  -->

<!-- Content wrapper -->
<div class="content-wrapper">
	<!-- Content -->

	<div class="container-xxl flex-grow-1 container-p-y">
		<!-- Hoverable Table rows -->

		<div class="card">
			{% if properties %}
			<h5 class="card-header">Shared Properties</h5>
			<div class="table-responsive text-nowrap">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Property</th>
							<th>Domain</th>
							<th>Business</th>
						</tr>
					</thead>
					<tbody class="table-border-bottom-0">
						<!--  -->
						{% for property in properties %}
						<tr>
							<td>
								<i class="fab fa-angular fa-lg text-danger me-3"></i>
								<strong
									><a href="{% url 'property_detail' property.id %}"
										>{{ property.name }}</a
									></strong
								>
							</td>
							<td>{{ property.domain }}</td>
							<td>{{ property.business }}</td>
						</tr>
						{% endfor %}
						<!--  -->
					</tbody>
				</table>
			</div>
			{% else %}
			<!--  -->
			<div class="p-5 text-center fw-bold">No properties have been shared with you</div>
			<!--  -->
			{% endif %}
		</div>
		<!--/ Hoverable Table rows -->
	</div>
</div>

{% endblock %}
